#main {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 11fr 1fr;

    #track_details{
        padding: 1 5 1 1;
        box-sizing: border-box;
        layout: grid;
        grid-size: 2 1;
        grid-columns: 3fr 8fr;

        #track_layout {
            layout: grid;
            grid-size: 1 2;
            grid-rows: 3fr 8fr;
        }

        #album_cover {
            padding: 0 10;
        }
    }

    #devices {
        padding: 1 0 0 0 ;
    }
}

