#track_details{
    margin: 1 5 1 1;

    #track_layout {  
        #track_text_details {
            width: 9fr;
        }

        #album_cover {
            width: 12fr;
            
            Container {
                # width: 100%;
                border: solid yellow;
            }
            
            Static {
                width: auto;
                height: 100%;
                border: solid white;
            }
        }
    }
}